/* default styling */
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1{
    font-weight: 400;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
}
nav{
    position: relative;
    top: 1rem;
    right: 3rem;
    width: 20rem;
}
ul{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
    font-size: 1.5rem;
}

.showCase{
    width: 97vw;
    margin: 1rem;
    border-radius: 0 0 1.5rem 1.5rem;
}

article{
    margin-top: 20px;
    display: flex;
}
.content{
    padding: 1.5rem;
    background-color: rgba(232, 232, 232, 0.988);
    text-align: center;
    margin: 0 20px 0 20px;
    border-radius: 1.5rem;
}

footer{
    margin-top: 1.5rem;
    background-color: black;
    padding: 0.5rem;
    border-radius: 1rem;
}

.footContent{
    text-align: center;
    font-size: large;
}

.footContent a{
    color: white;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    cursor: pointer;
    color: blueviolet;
}
