*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.toolbox-cont{
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.911);
    display: flex;
    align-items: center;
}

.toolbox-cont>*{
    margin-left: 4rem;
    border-radius: 4px;
}

.toolbox-priority-cont{
    height: 3.5rem;
    width: 18rem;
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.toolbox-priority-cont>*:hover{
    height: 1.7rem;
    width: 3.2rem;
}

.color{
    height: 1.5rem;
    width: 3rem;
    border-radius: 4px;
}


.action-btn-cont{
    height: 3.5rem;
    width: 7rem;
    background-color: #3d3d3d;
    display: flex;
}

.action-btn-cont>.add-btn:hover{
    background-color: greenyellow;
    color: black;
    border-radius: 4px;
}

.action-btn-cont>.remove-btn:hover{
    background-color: crimson;
    border-radius: 4px;
}


.action-btn-cont>*{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 2rem;
    color: #d1d8e0;
}


.lightpink{
    background-color: lightpink;
}

.lightblue{
    background-color: lightblue;
}

.lightgreen{
    background-color: lightgreen;
}

.black{
    background-color: black;
}


.modal-cont{
    height: 50vh;
    width: 45vw;
    position: absolute;
    top: calc((100vh - 50vh)/2);
    left: calc((100vw - 45vw)/2);
    display: none;
    border-radius: 8px;
}

.textarea-cont {
    height: 100%;
    width: 75%;
    outline: none;
    border: none;
    background-color: #dfe4ea;
    resize: none;
    padding: 2rem;
    font-size: 2rem;
    border-radius: 8px 0 0 8px;
}

.priority-colors-cont{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #4b4b4b;
    border-radius: 0px 8px 8px 0;
}

.priority-color{
    height: 3rem;
    width: 5rem;
    border-radius: 4px;
}

.priority-colors-cont>*:hover{
    height: 3.3rem;
    width: 5.5rem;
}

.active{
    height: 3.3rem;
    width: 5.5rem;
}

.main-cont{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
}

.ticket-cont{
    height: 12rem;
    width: 15rem;
    background-color: #f1f2f6;
}

.ticket-color{
    height: 1rem;
    background-color: black;
}

.ticket-id{
    height: 2rem;
    background-color: grey;

    padding: 5px;
}

.task-area{
    height: calc(100% - 1rem - 2rem);
    font-size: 1.5rem;
    padding: 5px;
}